@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">

    <img style="padding-top: 40px;"  src="~/pics/brandonmustdie-kyleisabum.gif" width="360" height="640">
    <h2 style ="padding-top: 40px;">Star Wars Website</h2>

</div>
